/* src/layouts/Layout.css */


.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8; /* Цвет фона для header и footer */
  }
  
  .nav-left, .nav-right {
    display: flex;
  }
  
  
  .button {
    padding: 10px 20px; /* Размер кнопки */
    margin-right: 10px; /* Отступ между кнопками */
    text-decoration: none;
    color: black;
    background-color: white; /* Цвет фона кнопки */
    border: 1px solid #ccc; /* Рамка кнопки */
    border-radius: 4px; /* Уголки кнопок */
    transition: background-color 0.3s; /* Плавный переход цвета */
  }
  
  
  .button.rounded {
    border-radius: 20px; /* Закругление для кнопки ФИО */
  }
  
  
  .button.active {
    background-color: blue; /* Цвет активной кнопки */
    color: white; /* Цвет текста активной кнопки */
  }
  
  .footer {
    margin-top: 10px; /* Отступ сверху для footer */
  }
  
  
  .footer p {
    margin: 0; /* Убираем отступы у текста в footer */

  }