body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: center;
    background-color: gray; 
    min-height: 100dvh;
}


.content {
    background-color: white; 
    margin: 0 10px; 
    width: 80%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

